@import '@styles/theme.scss';

// Your style here

.wrapper {
  min-height: 100vh;
  background-color: $color-white;
  min-height: 100vh;
  transition: background-color 0.5s ease;
  --bg-color: #{$color-white};
  --text-color: #{$color-black};
  background-color: var(--bg-color, #{$color-white});
  color: var(--text-color, #{$color-black});
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;

  &.dark {
    --bg-color: #{$color-dark-gray};
    --text-color: #{$color-white};
  }
}
.page {
  width: 100%;
  box-sizing: content-box;
  height: fit-content;
  min-height: 100vh;
}
