@import '@styles/theme.scss';

// Your style here

.title {
  @include typo-title-xxl;
  margin-bottom: 3rem;
}

.italic{
  font-style: italic;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  max-width: 1000px;
}

.letter{
    display: inline-block;
}