@import '@styles/theme.scss';

// Your style here

.container{
  width: fit-content;

}

.text{
  top: 90%;
  left: 1rem;
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: $font-roobert;
  @include respond-below(xl){
    font-size: 1.6rem;
  }
  @include respond-below(md){
    font-size: 1.4rem;
  }
}
.title {
  @include typo-title-xxl;
  display: flex;
  flex-direction: column;
}


.line {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  &:first-child {
    overflow: hidden;
  }
  &:last-child {
    margin-top: -2rem;
  }
}

.word{
  padding-bottom: 3rem;

}
.letter {
  display: inline-block; 
  font-weight: 400;
 
  &.italic{
    font-style: italic;
  }
  &.space{
    display: inline;
  }
}

.topContainer{
  position: relative;
}


.botContainer {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.btn {
  flex: 1;
}
