@import '@styles/theme.scss';

// Your style here

.title {
  @include typo-title-xxl;
  display: flex;
  flex-direction: column;
}


.line {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  &:first-child {
    overflow: hidden;
  }
  &:last-child {
    margin-top: -2rem;
  }
}

.word{
  padding-bottom: 3rem;

}
.letter {
  display: inline-block; 
  font-weight: 400;
 
  &.italic{
    font-style: italic;
  }
  &.space{
    display: inline;
  }
}
