@import '@styles/theme.scss';

// Your style here

.container {
  width: 100%;
  background-color: $color-white;
  height: 100vh;
  min-height: --webkit-fill-available;

  --padding-content: 8rem;
  @include respond-below(xxl) {
    --padding-content: 4rem;
  }
  @include respond-below(xl) {
    --padding-content: 2rem;
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  @include respond-below(md) {
    flex-direction: column-reverse;
  }
}

.texts,
.imageWrapper {
  flex: 1;
  box-sizing: border-box;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 20vh;
  box-sizing: border-box;

  @include respond-below(xxl) {
    padding-top: 20vh;
  }

  @include respond-below(xl) {
    padding-top: 10vh;
  }

  @include respond-below(md) {
    padding-top: 0;
    align-items: flex-start;
  }
}

.infos {
  padding-top: 8rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex: auto;
  max-height: 20vh;
  margin: 0 var(--padding-content);
  margin-top: auto;
  margin-bottom: 2rem;
  @include respond-below(md) {
    width: 90%;
  }
}

.info {
  font-size: 1.8rem;
  font-family: $font-roobert;
  line-height: 1.3em;
  @include respond-below(xl) {
    font-size: 1.6rem;
  }
  @include respond-below(md) {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

.infoLabel {
  color: rgba($color-black, 0.7);
}

.infoValue {
}

.imageWrapper {
  width: 100%;
  position: relative;
  @include respond-below(md) {
    height: 10vh;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    @include respond-below(md) {
      display: block;
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @include typo-title-xxl;
  // @include respond-below(xxl) {
  //   font-size: 12rem;
  // }

  // @include respond-below(xl) {
  //   font-size: 8rem;
  // }

  @include respond-below(md) {
    font-size: 7rem;
  }

  @include respond-below(sm) {
    font-size: 5rem;
  }
  font-style: italic;
  margin: 0 var(--padding-content);
  @include respond-below(md) {
    margin: 2rem var(--padding-content);
    z-index: 10;
  }
}

.description {
  font-family: $font-roobert;
  text-align: justify;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.1em;
  margin: 0 var(--padding-content);
  margin-top: 7rem;

  @include respond-below(xl) {
    font-size: 1.6rem;
  }

  @include respond-below(md) {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

.details {
  margin: 0 var(--padding-content);
  margin-top: 2rem;
  font-size: 1.8rem;
  font-family: $font-roobert;
  line-height: 1.33em;
  color: rgba($color-black, 0.7);
  @include respond-below(xl) {
    font-size: 1.6rem;
  }
  @include respond-below(md) {
    font-size: 1.4rem;
  }
}

.closeBtn {
  position: absolute;
  bottom: 20vh;
  right: 50%;
  z-index: 10;
  transform: translate(50%, 0);
  @include respond-below(md) {
    top: 2.5rem;
    right: 50%;
    transform: translate(50%, -25%);
    height: fit-content;
  }
}

.imageLayer1,
.imageLayer2 {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: 11;
  opacity: 1;
  @include respond-below(md) {
    height: 100vh;
    min-height: --webkit-fill-available;
  }
}

.imageLayer1 {
  background-color: $color-white;
}

.imageLayer2 {
  background-color: $color-black;
}

.link {
  margin-top: 3.8rem;
  margin-left: var(--padding-content);
  font-family: $font-roobert;
  font-size: 1.8rem;
  a {
    padding-bottom: 1rem;
  }
  @include respond-below(md) {
    margin-left: 2rem;
  }
}

.linkLabel {
  position: relative;
  opacity: 0.5;
  cursor: disabled;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    transform-origin: right;
    transition: transform 0.2s;
  }
}
