// Respond above.
@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin typo-nav-item {
  font-family: $font-roobert;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-text, $color-black);
}

@mixin typo-title-xxl {
  font-size: 16rem;
  font-weight: 400;
  font-family: $font-roxborough;
  color: var(--color-text, $color-black);
  @media screen and (max-height: 900px) {
    font-size: 12rem;
  }
  @include respond-below(md){
    font-size: 7rem;
  }
  
  @include respond-below(sm){
    font-size: 5rem;
  }
}

@mixin main-hero {
  margin-top: var(--margin-top-content);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin z-index($name) {
  z-index: map-get($z-index, $name);
  @if not $name {
    @warn 'Invalid z-index name: #{$name}.';
  }
}
