@import '@styles/theme.scss';

// Your style here

.btn {
  --color: #{$color-white};
  --bg-color: #{$color-black};
  &:hover {
    --color: #{$color-black};
    --bg-color: #{$color-white};
  }
  background-color: var(--bg-color);
  border: 2px solid transparent;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  cursor: pointer;
  &:hover {
    border: 2px solid var(--color);
  }
  @include respond-below(md) {
    padding: 1.5rem;
    height: auto;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  @include respond-below(md) {
    width: 1.5rem;
    height: 1.5rem;
  }
  svg,
  line {
    transition: all 0.3s ease;
    fill: var(--color);
    stroke: var(--color);
  }
}
