@import '@styles/theme.scss';

html,
body {
  font-size: 10px;
  font-family: RoxboroughCF;
  background-color: $color-white;
  ::-webkit-scrollbar {
    display: none;
  }
}
:root {
  --margin-top-content: min(10rem, 10vw);
  @include respond-above(xxl){
    --margin-top-content: min(25rem, 30vw);
  }
  @include respond-above(xxxl){
    --margin-top-content: min(30rem, 40vw);
  }
  @include respond-below(md){
    
    --margin-top-content: min(25vw, 15rem);
  }
}
